



 label #btn{
    display: block;
  }

  #check:checked ~ label #btn{
    display: none;
  } 
  #check:checked ~ label #cancel{
    display: block;
  } 

  #check:checked ~ ul{
    left:0px;
    /* margin-right: 20pc; */
  } 






  .navbar {
/*   
    display: flex;
   flex-direction: column;  */ 
  /* align-items: center; */
  margin: auto;

 
   
  
}



.navbar ul{
  flex-direction: column;
  display: flex;
  top: 80px;
  left: 0%;
  position: absolute;
  width: 100pc;
  height: 100vh;
 /* background: red; */
  text-align: center;
  display: none; 
  
   
    
}


.navbar  ul li a{
  display: block;
  margin:  50px 0;
  line-height: 30px;
    
    
  }
  .navbar  ul li a{
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  }





  
  